/* ========================================================================
  1.1 Component: GLOBAL
 ========================================================================== */
html {
  font-size: 1em;
  line-height: 1.4;
}
html,
body {
  height: 100%;
}
body {
  overflow-x: hidden;
}
/* Internet Explorer 10 in Windows 8 and Windows Phone 8 Bug fix */
@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
li {
  list-style: none;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
a:hover {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* ==========================================================================
   1.2 Helper classes
   ========================================================================== */
.main-bg {
  background: rgb(32, 178, 170);
}
.main-color {
  color: rgb(32, 178, 170);
}
.white-color {
  color: #fff;
}
.button {
  padding: 20px 60px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  color: #fff;
  text-shadow: none;
  outline: none;
  border: 0;
 
}
.button:hover {
  cursor: pointer;
  color: #fff;
}
.button.light {
  padding: 19px 59px;
}
.line {
  width: 80px;
  height: 2px;
  margin-top: 15px;
}
.button.light {
  border: 2px solid #eeeeee;
}
.padding-large {
  padding-top: 90px;
  padding-bottom: 90px;
}
.padding-top-large {
  padding-top: 90px;
}
.margin-top-large {
  margin-top: 50px;
}
.margin-bottom-large {
  margin-bottom: 90px;
}
.margin-top-medium {
  margin-top: 40px;
}
.margin-bottom-medium {
  margin-bottom: 40px;
}
.margin-bottom-small {
  margin-bottom: 25px;
}
.margin-right-small {
  margin-right: 15px;
}
.margin-left-small {
  margin-left: 15px;
}
.mat-none {
  margin-top: 0;
}
.mab-none {
  margin-bottom: 0;
}
.mar-none {
  margin-right: 0;
}
.mal-none {
  margin-left: 0;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
/* ========================================================================
 1.3 Component: Fullscreen menu
 ========================================================================== */
.top-animate {
  background: #fff !important;
  top: 13px !important;
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}
.mid-animate {
  opacity: 0;
}
.bottom-animate {
  background: #fff !important;
  top: 13px !important;
  -webkit-transform: rotate(-225deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-225deg);
}
.top-menu,
.mid-menu,
.bottom-menu {
  width: 28px;
  height: 4px;
  border-radius: 10px;
  background-color: #fff;
}
.top-menu {
  top: 5px;
}
.mid-menu {
  top: 13px;
}
.bottom-menu {
  top: 21px;
}
.menui {
  background: #FFF;
  transition: 0.6s ease;
  transition-timing-function: cubic-bezier(0.75, 0, 0.29, 1.01);
  margin-top: 10px;
  position: absolute;
}
.menu-trigger {
  z-index: 999;
  position: fixed;
  display: block;
  padding: 9px;
  height: 32px;
  width: 32px;
  margin: 0px;
  top: 45px;
  right: 115px;
}
.mobilenav {
  font-family: inherit;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(32, 178, 170, 1);
  text-transform: uppercase;
}
.mobilenav li {
  list-style-type: none;
  text-align: center;
  padding: 10px;
  font-size: 220%;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  width: 100%;
}
.mobilenav li:last-child span {
  border-bottom: none;
}
.mobilenav li:hover {
  cursor: pointer;
}
.nav-label {
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
  display: block;
  width: 350px;
  margin: 0 auto;
}
.mobilenav li:first-child {
  margin-top: 60px;
}
/* ========================================================================
 1.4 Hover animation by hover.css http://ianlunn.github.io/Hover/
 ========================================================================== */
@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pulse:hover,
.hvr-pulse:focus,
.hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
/* Rectangle Out */
.hvr-rectangle-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-rectangle-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(231, 76, 60, 0.9);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-rectangle-out:hover,
.hvr-rectangle-out:focus,
.hvr-rectangle-out:active {
  color: white;
}
.hvr-rectangle-out:hover:before,
.hvr-rectangle-out:focus:before,
.hvr-rectangle-out:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* General button style (reset) */
.portfolio-wrapper .button {
  padding: 20px 60px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border: 3px solid #fff;
  color: #fff;
  overflow: hidden;
}
.portfolio-wrapper .button:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border: 3px solid #fff;
  color: #fff;
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  background: #fff;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.portfolio-wrapper .button:hover,
.button:active {
  color: #39c;
}
.portfolio-wrapper .button:hover:after {
  height: 260%;
  opacity: 1;
}
.portfolio-wrapper .button:active:after {
  height: 400%;
  opacity: 1;
}
/* ========================================================================
  2.1 Component: Header
 ========================================================================== */
header {
  position: relative;
}
header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url(../img/slider-overlay.png) repeat;
}
header .carousel,
header .item,
header .active {
  height: 100%;
}
.carousel-inner {
  min-height: 500px;
  height: 100%;
}
.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.carousel-indicators li {
  width: 40px;
  height: 4px;
  border: none;
  border-radius: 0;
  background: #fff;
}
.carousel-indicators .active {
  width: 40px;
  height: 5px;
  background: #e74c3c;
}
.carousel-caption {
  top: 25%;
}
.carousel-caption h1 {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: normal;
}
.carousel-control.left,
.carousel-control.right {
  background: none;
}
.icon-prev,
.icon-next {
  font-size: 60px !important;
}
header .logo-container {
  position: absolute;
  top: 52px;
  left: 93px;
  z-index: 10;
}
/* ========================================================================
  2.2 Component: Call To ACTION
 ========================================================================== */
.call-to-action {
  padding: 15px;
  color: #eeeeee;
  font-size: 18px;
  position: relative;
}
.call-to-action p {
  margin: 20px;
}
/* ========================================================================
  2.3 Component: About Us
 ========================================================================== */
.about-us {
  background: url("../img/about-us-bg.jpg") no-repeat center fixed;
  background-size: cover;
  position: relative;
}
.about-us .overlay {
  background: rgba(238, 238, 238, 0.95);
}
.about-us .jumbo-text {
  text-transform: uppercase;
  color: #272727;
  font-size: 40px;
}
.about-us p {
  color: #484848;
  line-height: 24px;
}
.about-us img {
  margin-top: -50px;
}
.panel {
  background: none;
  border: none;
  box-shadow: none;
}
.panel-default > .panel-heading {
  background: rgb(32, 178, 170);
  color: #f3eff0;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #d7d7d7, -1px -1px 1px #d7d7d7;
}
.panel-heading {
  padding: 0;
}
.panel-title > a {
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 10px 15px;
}
.collapsed {
  background: rgb(32, 178, 170) !important;
  color: #222;
}
.collapsed strong,
.collapsed .state {
  color: #fff;
}
.state {
  font-size: 18px;
  line-height: 18px;
}
/* ========================================================================
  2.8 Component: Our Team
 ========================================================================== */
.our-team {
  background: #eee;
}
.our-team .team-member {
  border: 1px solid #39c;
  width: 220px;
  height: 300px;
  overflow: hidden;
}

.our-team .team-member:hover > .team-overlay {
  margin-top: -297px;
  transition: all .85s;
}
.our-team img {
  width: 100%;
}
.our-team .team-overlay {
  margin-top: 0px;
  width: 220px;
  color: #fff;
  margin-left: -2px;
  position: relative;
}
.our-team .team-overlay .info {
    width: 220px;
    height: 240px;
  padding: 100px 20px 20px 20px;
  background: rgba(32, 178, 170, 0.9);
}
.our-team .team-overlay .learn-more {
  height: 60px;
  line-height: 60px;
  width: 100%;
  text-align: center;
  background: rgb(32, 178, 170);
  position: relative;
  cursor: pointer;
}
.our-team .description {
  padding: 40px 0;
}
.our-team .description h3 {
  text-transform: uppercase;
}
.our-team .description .about {
  font-size: 14px;
  color: #555;
}
.our-team .description .member-skill {
  display: inline-block;
}

/* ========================================================================
  2.15 Component: Send Message
 ========================================================================== */
.send-message {
  padding: 20px;
}
.send-message .send-icon {
  height: 80px;
  width: 80px;
  margin: 0 auto;
  background: rgb(32, 178, 170);
  border-radius: 50%;
  line-height: 60px;
  margin-top: -60px;
  font-size: 20px;
  position: relative;
}
.send-message p {
  font-size: 30px;
}
.send-message:hover {
  cursor: pointer;
}
.send-message .modal-lg {
  width: 700px;
}
.modal .modal-content {
  box-shadow: none;
  border-radius: 0;
  border: 0;
  position: relative;
}
.modal .close {
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
  background: #333;
  opacity: 1;
  height: 40px;
  width: 40px;
  color: #FFF;
  font-size: 28px;
  line-height: 45px;
  outline: none;
  z-index: 10;
}
.modal .close span {
  outline: none;
}
.modal .modal-body {
  padding: 40px 60px;
}
.modal .member-info {
  padding: 0;
}
.modal input {
  height: 50px;
}
.modal input,
.modal textarea {
  padding: 10px 20px;
  border-radius: 0;
  font-size: 18px;
}
.modal input:focus,
.modal textarea:focus {
  border-color: #e74c3c;
  box-shadow: none;
}
.modal textarea {
  resize: none;
}
.modal .button {
  width: 100%;
  border-radius: 0;
  padding: 15px 60px;
}
.form-control::-webkit-input-placeholder {
  color: #DBDBDB;
  font-style: italic;
}


/* Services */

#services {
    background: #fff;
    border-bottom: 1px solid #efefef;
}
#services a:hover {
    color: #187F90;
    text-decoration: none;
}
.single-service {
    margin: 30px 25px;
}
.service-title {
    color: #24C0D9;
}
.service-content {
    margin-left: 60px;
    margin-top: -66px;
}

.section {
    padding: 75px 0;
}
.section-title {
    margin-bottom: 50px;
    padding-bottom: 20px;
    display: inline-block;
    border-bottom: 1px solid #24C0D9;
}

/* Footer */
    #footer {
    background-color: rgb(64, 224, 208);
    color:white;
    padding:40px 0;
}
#footer .credits a {
    color:#fff;
    text-decoration:underline;
}
.credits{
    padding-bottom: 5px;
}
ul.social-icons{
  padding: 0;
}
ul.social-icons li {
    display:inline-block;
    margin:5px;
    font-size:35px;
}
.copyright {
    margin-top:40px;
    border-top:1px solid rgba(255,255,255,0.31);
    padding-top:40px;
}
ul.social-icons i {
    color:white;
    border-radius:100%;
    display:block;
    width: 50px;
    height: 50px;
    padding: 9px;
}
ul.social-icons li a {
    display:block;
}
.footer-logo h1 {
    color: white;
}
.social-icons ul li a i{
  color: white;
  border-color: white;
}
.facebook a:hover i {
    color:#fff;
    background-color:#3B5998;
}
.twitter a:hover i {
    color:#fff;
    background-color: #2A80BA;
}
.linkedin a:hover i {
    color:#fff;
    background-color:#007bb6;
}
.googleplus a:hover i {
    color:#fff;
    background-color:#dd4b39;
}
.github a:hover i {
    color:#fff;
    background-color: #444;
}
.back-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 100;
  background: rgba(135, 206, 235, 0.8);
  cursor: pointer;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 4px;
  color: #fff;
  -webkit-animation: pulse 1s linear 0s infinite alternate;
  -moz-animation: pulse 1s linear 0s infinite alternate;
  -o-animation: pulse 1s linear 0s infinite alternate;
  animation: pulse 1s linear 0s infinite alternate;
}
.typewrite {
    color: rgba(255, 255, 255, 0.8);
    font-size: 25px;
}

/*#h1Main {
    font-family: 'Inconsolata', monospace;
}*/

/* Loader CSS */
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #e74c3c;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #f9c922;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #222222;
        z-index: 1000;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
    
    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
                transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.3s 1s ease-out;  
                transition: all 0.3s 1s ease-out;
    }
    
    /* JavaScript Turned Off */
    .no-js #loader-wrapper {
        display: none;
    }

/* Service Icon color change */
#desktop-icon #mobile-icon #gear-icon #code-icon {
    color: #20B2AA;
}

/* Solving no link text problem */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}